# =====================
# Python
# =====================
venv/
__pycache__/
*.pyc

# =====================
# Environment files
# =====================
.env
*.env

# =====================
# Backend (FastAPI / Django / Flask)
# =====================
api/.env
*.log
*.sqlite3
db.sqlite3

# =====================
# Node / Frontend
# =====================
node_modules/

# =====================
# Build outputs
# =====================
dist/
.vite/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db